annotated-doc==0.0.4 ; python_version >= "3.12" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
click==8.3.2 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
cryptography==46.0.7 ; python_version >= "3.12" and python_version < "4.0"
gmpy2==2.3.0 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==4.0.0 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.9.6 ; python_version >= "3.12" and python_version < "4.0"
pycparser==3.0 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pygments==2.20.0 ; python_version >= "3.12" and python_version < "4.0"
rich==14.3.3 ; python_version >= "3.12" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
transcrypto==2.6.0 ; python_version >= "3.12" and python_version < "4.0"
typer==0.24.1 ; python_version >= "3.12" and python_version < "4.0"
zstandard==0.25.0 ; python_version >= "3.12" and python_version < "4.0"
